<a href="https://colab.research.google.com/github/Seiko-5/Extract-someone-s-tweet-using-tweepy/blob/main/tweepy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tweepy and Tkinter (for the GUI interface)

In [ ]:
pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.7/dist-packages (3.10.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (2021.5.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [ ]:
import tweepy
import pandas as pd

# Setting up Tweepy authorization:

In [ ]:
consumer_key = 'AX6tjRad3cAIVFsl1ja8butzF'
consumer_secret = 'HeHsKTmTotjRuFwVAYdzY2GusNOrfAlOQkzcM2N3e5NHuMt70p'
access_token = '1319434006757134336-pPgwJmW2Qsi5nfXtuVA5cQ7yUvWJLY'
access_token_secret = '5E2y7zeYhN9pdLNVgiPo1lXO1P3XBiCA80s1YTOQlzh1T'



auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

# Extracting

In [ ]:
text_query = '#melbournecup'   
language = 'en'
location = '-37.840935,144.946457,200km'     #latitide,longitude,radius
count = 2000


try:


 # Creation of query method using parameters
 tweets = tweepy.Cursor(api.search,q=text_query,lang=language,geocode=location,tweet_mode='extended').items(count)
 
 # Pulling information from tweets iterable object
 tweets_list = [[tweet.created_at,tweet.user.screen_name,tweet.full_text,tweet.user.location] for tweet in tweets]
 
 # Creation of dataframe from tweets list
 # Add or remove columns as you remove tweet information
 tweets_df = pd.DataFrame(tweets_list)


 
except BaseException as e:
    print('failed on_status,',str(e))
    time.sleep(3)

In [ ]:
tweets_df.tail()

                       0  ...                      3
1273 2021-10-26 01:25:14  ...  Melbourne, Australia.
1274 2021-10-25 23:45:49  ...   Melbourne, Victoria
1275 2021-10-25 22:21:59  ...  Maribyrnong, Victoria
1276 2021-10-25 07:43:53  ...   Melbourne, Australia
1277 2021-10-25 07:30:31  ...   Melbourne, Australia

[5 rows x 4 columns]

In [ ]:
tweets_df.to_csv("LXRP output.csv", index=False)